.detalle{
	background-image: url('/assets/img/main-fondo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
    position: fixed;
	background-color: #636161;
	width: 100%;
	height: 100%;
	overflow: auto;

}
.detalle-productos{
	margin-top: 30px;
	border-radius: 20px 20px 20px 20px;
	background-color: rgba(145, 162, 172, 0.8);
    border: 10px solid rgb(133, 193, 233);
}