<div class="barra-superior" >
	 <nav>
		 <div class="nav-wrapper blue-grey lighten-2">
		   
		   
		   	<a [routerLink]="['/tienda']" class="brand-logo hide-on-small-only">VirtualStore</a> 
		   	<a [routerLink]="['/tienda']" class="brand-logo hide-on-med-and-up" >VS</a>
		  
		   

		   <ul class="right">
		     <li>
		     	<a [routerLink]="['/catalogo']" class="text-shadow active">  <i class="large material-icons">shopping_basket</i></a>
		     </li>
		     <li>
		     	<a [routerLink]="['/carrito']" class="text-shadow active" >	<i class="large material-icons">shopping_cart</i>
		     	<span class="new badge " *ngIf="isValid()">{{productos.length}}</span>
		        </a>
		     </li>
		     <li>
		     	<a (click)="cerrarSesion()"  class="text-shadow"><i class="large material-icons">forward</i>
		     	</a>
		     </li>
		   </ul>



		 </div>
	</nav>	
</div>
