    <div class="row login">
    	<div class="col s12 m2 l3"></div>	

    	<div class="col s12 m8 l6 login-card" >	
	      <h4 class="center">Inicia Sesion</h4>
	      <form [formGroup]="loginForm" (ngSubmit)="checkLogin()">
	      	<div class="row">
        		<div class="form-group input-field col s12">
        			<i class="material-icons prefix">account_circle</i>
          			<input formControlName="email" id="email" type="email" class="validate" ngModel name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" #email autocomplete="current-password">
          			<label class="active" for="email">Correo electrónico</label>
          	
        		</div>
      		</div>
	      	<div class="row">
	      		<div class="input-field col s12">
	      			<i class="material-icons prefix">https</i>
			        <input formControlName="password" id="password" required="" type="password" class="validate" autocomplete="current-password">
			        <label class="active" for="password">Contraseña</label>
		        </div>
	      	</div>
	      	<div class="row">
	      		<div class="mensaje"> 
	          		{{mensaje}}
	            </div>
		      	 <button class="btn waves-effect  green waves-light center" type="submit" [disabled]="!loginForm.valid">Ingresar
	  			</button>
	      	</div>

	      </form>
	    </div>
	    <div class="col s12 m2 l3"></div>	
        
    </div>


